{% load static %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'dashboard.css' %}">
<!------ Include the above in your HEAD tag ---------->
<title>SIPM</title>
<div id="themeSlider" class="carousel slide" data-ride="carousel">
    
    <div class="carousel-inner">
        <div class="item active">
            <div class="imgOverlay"></div>
            <img src="https://www.xtrafondos.com/descargar.php?id=3424&resolucion=1920x1080" alt="First slide">
            <div class="carousel-caption">
                <h3>Cursos</h3>
                <p>MAT021 - MAT022</p>
            </div>
        </div>
    </div>

    <div class="main-text hidden-xs hidden-sm">
        <div class="col-md-12 text-center">
            <h1>Sistema Integrado de Prácticas Matemáticas</h1>
            <h3>¡Comienza a ejercitar ahora!</h3>
            <div class="clearfix"></div>
            <div class="carousel-btns">
                <a class="btn btn-md btn-default" href="{% url 'login_url' %}">Inicia sesión</a>
                <a class="btn btn-md btn-default" href="{% url 'register_url' %}">Regístrate</a>
            </div>
        </div>
    </div>
</div>
