{% block content %}
        <table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="10" aria-describedby="mydesc">
        <thead>
            <tr>
                <th id="modelo">Modelo</th>
                <th id="marca">Marca</th>
                <th id="fecha">Fecha de subida</th>
                <th id="usuario">Subido por</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ auto.modelo }}</td>
                <td>{{ auto.marca }}</td>
                <td>{{ auto.fecha }}</td>
                <td>{{ auto.usuario }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}