{% load static %}

{% block content %}


{% load crispy_forms_tags %}

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'plantilla-register.css' %}">
</head>

<!------ Include the above in your HEAD tag ---------->


<div class="container register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="{% static 'regi.png' %}">
                        <h3>Bienvenid@</h3>
                        <p>Sistema Integrado de Prácticas Matemáticas</p>
                    </div>
                    <div class="col-md-9 register-right">
                        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="{% url 'index' %}" role="tab" aria-controls="home" aria-selected="true">Volver</a>
                            </li>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Registro de Usuarios</h3>
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Nombre *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Contraseña *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control"  placeholder="Confirmar contraseña *" value="" />
                                            <input type="submit" style = center class="btnRegister"  value="Regístrate"/>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    </div>
                                </div>
                            <p style="float: none; text-align: center;"></p></footer>
                            <p style="float: none; text-align: center;" class="font-weight-light text-white">© SIPM </p></footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}