<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>MAT021 - Inicial</title>
  </head>
  <body>
    <h1>MAT021 - Inicial</h1>
<!-- Navigation -->
<nav class="navbar header-top fixed-top navbar-expand-lg  navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Sistema Integrado de Prácticas Matemáticas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">MAT021
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cerrar sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>



<!doctype html>
<html lang="es-MX">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
        integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <title> MAT021 - Inicial </title>
</head>
<body>
    <!--titulo-->
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 style="text-align: center;">  </h1>
                <h1 style="text-align: center;">  </h1>
                <h1 style="text-align: center;">Cuestionario MAT021  </h1>
                <h1 style="text-align: center;">Nivel Inicial  </h1>
                <div class="container-fluid">
                    <div class="row">
                  <div class="col">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Instrucciones:</h5>
                        <h6 class="card-subtitle mb-2 text-muted">- Cada pregunta consta de 4 alternativas, de las cuales solo una es la correcta.</h6> 
                        <h6 class="card-subtitle mb-2 text-muted">- Debes completar todas las preguntas, para así obtener tu nivel de aciertos y la retroalimentación de los ejercicios.</h6>  
                        <h6 class="card-subtitle mb-2 text-muted">- Tienes 10 minutos para resolver, una vez transcurrido el tiempo, el formulario se cerrará.</h6>  
        </div>
    </div>
    <!--Preguntas-->
    <div class="container">
        <div class="row">
            <div class="col">
                <form>
                    <p><strong>1. Una empresa de arriendo de autos cobra $70.000 cuando su vehículo A recorre 50 km y $120.000 cuando su vehículo A recorre 100 km . El cobro que realiza la empresa para el vehículo A , en términos de los kilómetros recorridos, se modela a través de una función de la forma f(x) = mx + n. ¿Cuál será el cobro del vehículo A cuando recorra 200 km?
                    </strong></p>
                    <ol type="A">
                        <li><input type="radio" name="pregunta1" id="p11"> $200.000 </li>
                        <li><input type="radio" name="pregunta1" id="p12"> $220.000</li>
                        <li><input type="radio" name="pregunta1" id="p13"> $240.000</li>
                        <li><input type="radio" name="pregunta1" id="p14"> $280.000</li>
                    </ol>
                    <p><strong>2. Si Ana tiene en la actualidad (2a - 3 años), ¿qué edad tendrá en 4 años más?
                       </strong></p>
                    <ol type="A">
                        <li><input type="radio" name="pregunta2" id="p15"> (2a + 1) años</li>
                        <li><input type="radio" name="pregunta2" id="p16"> (2a + 7) años</li>
                        <li><input type="radio" name="pregunta2" id="p17"> (6a - 1) años</li>
                        <li><input type="radio" name="pregunta2" id="p18"> (8a + 12) años</li>
                    </ol>
                    <p><strong>3. ¿Con cuál de las siguientes ecuaciones junto a la ecuación 3x - y = p se forma un sistema que podría NO tener solución, dependiendo del valor de p ?</strong></p>
                    <ol type="A">
                        <li><input type="radio" name="pregunta3" id="p19"> x = 0</li>
                        <li><input type="radio" name="pregunta3" id="p20"> x - y = p</li>
                        <li><input type="radio" name="pregunta3" id="p21"> 6x -2y = p</li>
                        <li><input type="radio" name="pregunta3" id="p22"> 2y - 6x = -2p</li>
                    </ol>
                    <p><strong>4. En cierto experimento, la probabilidad de que ocurra un suceso A es p, mientras que la probabilidad de que ocurra un suceso B es q . Si los sucesos A y B son independientes, ¿cuál de las siguientes expresiones representa siempre la probabilidad de que ocurra al menos uno de los dos sucesos?</strong></p>
                    <ol type="A">
                        <li><input type="radio" name="pregunta4" id="p23"> p(1 - q)</li>
                        <li><input type="radio" name="pregunta4" id="p24"> p + q - pq</li>
                        <li><input type="radio" name="pregunta4" id="p25"> p(1 - q) + q(1 - p)</li>
                        <li><input type="radio" name="pregunta4" id="p26"> (1 - p) (1 - q)</li>
                    </ol>
                    <p><strong>5. Considere la ecuación ax + b  = c, en x, con a, b y c números enteros positivos y b < c . ¿Cuál de las siguientes condiciones permite obtener como solución de esta ecuación un número NO entero?</strong></p>
                    <ol type="A">
                        <li><input type="radio" name="pregunta5" id="p27"> a = 1</li>
                        <li><input type="radio" name="pregunta5" id="p28"> a + b = c</li>
                        <li><input type="radio" name="pregunta5" id="p29"> (c - b) es múltiplo de a</li>
                        <li><input type="radio" name="pregunta5" id="p30"> c < a + b </li>
                    </ol>
                    <hr />
                    <button type="button" class="btn btn-primary" onclick="resultado()">Enviar</button>
                    <hr />                    
                </form>
                <p style="float: none; text-align: center;">© SIPM</p></footer>
            </div>
        </div>
    </div>
 
    <!-- Optional JavaScript -->
    <!--Llamada al script de respuestas-->
    <script src="respuestas_cuestionario_mat021_iv1.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"
        integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp"
        crossorigin="anonymous"></script>
</body>

</html>