<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>MAT021 - Avanzado</title>
  </head>
  <body>
    <h1>MAT021 - Avanzado</h1>
<!-- Navigation -->
<nav class="navbar header-top fixed-top navbar-expand-lg  navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Sistema Integrado de Prácticas Matemáticas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">MAT021
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cerrar sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>



<!doctype html>
<html lang="es-MX">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
        integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <title> MAT021 - Inicial </title>
</head>
<body>
    <!--titulo-->
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 style="text-align: center;">  </h1>
                <h1 style="text-align: center;">  </h1>
                <h1 style="text-align: center;">Cuestionario MAT021  </h1>
                <h1 style="text-align: center;">Nivel Avanzado  </h1>
                <div class="container-fluid">
                    <div class="row">
                  <div class="col">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Instrucciones:</h5>
                        <h6 class="card-subtitle mb-2 text-muted">- Cada pregunta consta de 4 alternativas, donde solo una es la correcta.</h6> 
                        <h6 class="card-subtitle mb-2 text-muted">- Debes completar todas las preguntas, para así obtener tu nivel de aciertos y la retroalimentación de los ejercicios.</h6>
        </div>
      </div>
    <!--Preguntas-->
    <div class="container">
        <div class="row">
            <div class="col">
                <form>
                    <p><strong>1. Inserta la pregunta</strong></p>
                    <ol type="A">
                        <li><input type="radio" name="pregunta1" id="p11"> Opción 1</li>
                        <li><input type="radio" name="pregunta1" id="p12"> Opción 2</li>
                        <li><input type="radio" name="pregunta1" id="p13"> Opción 3</li>
                        <li><input type="radio" name="pregunta1" id="p14"> Opción 3</li>
                    </ol>
                    <p><strong>2. Inserta la pregunta</strong></p>
                    <ol type="A">
                        <li><input type="radio" name="pregunta2" id="p15"> Opción 1</li>
                        <li><input type="radio" name="pregunta2" id="p16"> Opción 2</li>
                        <li><input type="radio" name="pregunta2" id="p17"> Opción 3</li>
                        <li><input type="radio" name="pregunta2" id="p18"> Opción 4</li>
                    </ol>
                    <p><strong>3. Inserta la pregunta</strong></p>
                    <ol type="A">
                        <li><input type="radio" name="pregunta2" id="p15"> Opción 1</li>
                        <li><input type="radio" name="pregunta2" id="p16"> Opción 2</li>
                        <li><input type="radio" name="pregunta2" id="p17"> Opción 3</li>
                        <li><input type="radio" name="pregunta2" id="p18"> Opción 4</li>
                    </ol>
                    <p><strong>4. Inserta la pregunta</strong></p>
                    <ol type="A">
                        <li><input type="radio" name="pregunta4" id="p23"> Opción 1</li>
                        <li><input type="radio" name="pregunta4" id="p24"> Opción 2</li>
                        <li><input type="radio" name="pregunta4" id="p25"> Opción 3</li>
                        <li><input type="radio" name="pregunta4" id="p26"> Opción 4</li>
                    </ol>
                    <p><strong>5. Inserta la pregunta</strong></p>
                    <ol type="A">
                        <li><input type="radio" name="pregunta2" id="p15"> Opción 1</li>
                        <li><input type="radio" name="pregunta2" id="p16"> Opción 2</li>
                        <li><input type="radio" name="pregunta2" id="p17"> Opción 3</li>
                        <li><input type="radio" name="pregunta2" id="p18"> Opción 4</li>
                    </ol>
                    <hr />
                    <a class="btn btn-primary" href="{% url 'retro_mat021_iv1' %}">Enviar</a>
                    <hr />                    
                </form>
                <p style="float: none; text-align: center;">© SIPM</p></footer>
            </div>
        </div>
    </div>
 
    <!-- Optional JavaScript -->
    <!--Llamada al script de respuestas-->
    <script src="respuestas_cuestionario_mat021_av2.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"
        integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp"
        crossorigin="anonymous"></script>
</body>

</html>