{% load static %}
<!doctype html>
<html lang="es-MX">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
        integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
        <title>MAT021 - Inicial</title>
  </head>
  <body>
    <h1>MAT021 - Inicial</h1>
<!-- Navigation -->
<nav class="navbar header-top fixed-top navbar-expand-lg  navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Sistema Integrado de Prácticas Matemáticas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'dashboard' %}">Inicio
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}">Cerrar sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    <title> Resolución NI </title>
</head>
<body>
    <!--titulo-->
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 style="text-align: center;">  </h1>
                <h1 style="text-align: center;">  </h1>
                <h1 style="text-align: center;">Resolución de Cuestionario MAT021  </h1>
                <h1 style="text-align: center;">Nivel Inicial </h1>
                <div class="container-fluid">
                    <div class="row">
                  <div class="col">
                    <div class="card">
                      <div class="card-body">
                        <!--<h5 class="card-title">Importante:</h5>-->
                        <h5 class="card-title">Tu puntaje ha sido 60</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Aquí podrás ver la resolución de cada uno de los ejercicios que hiciste.</h6>  
            </div>
        </div>
    </div>
    <!--Preguntas-->
    <div class="container">
      <div class="row">
          <div class="col">
              <form>
                  <p><strong>
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title"></h5>
                      <h6 class="card-subtitle mb-2 text-muted"></h6> 
                    <img src="../../../static/sol_1.jpeg">
                    <br>
                    <img src="../../../static/sol_2.jpeg">
                    <br>
                    <img src="../../../static/sol_3.jpeg">
                    <br>
                    <img src="../../../static/sol_4.jpeg">
                    <br>
                    <img src="../../../static/sol_5.jpeg">
                    <br> 
                  <hr />
              </form>
              <p style="float: none; text-align: center;">© SIPM</p></footer>
          </div>
      </div>
  </div>

</html>
